<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://avatars1.githubusercontent.com/u/58634236?s=400&u=8ec49ae84c8fbd710111d602a915d67481bb3130&v=4">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <span class="card-title grey-text text-darken-4">Nícolas Krüger</span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">NNícolas Krüger<i class="material-icons right">close</i></span>
      <p>muito merda n tem como</p>
      <p class="center">
        <a href="https://github.com/nicolaskruger" class="grey lighten-2 black-text waves-effect waves-light btn"><i class="fa fa-github-alt left"></i>GitHub Profile</a>
        <br><br>
      </p>
    </div>
  </div>